services:
  bot:
    image: ${REGISTRY}/bot:latest
    container_name: fcode-discord-bot
    volumes:
      - sqlite:/app/database
    environment:
      DATABASE_URL: "sqlite:database/data.db?mode=rwc"
      BOT_PREFIX: ${BOT_PREFIX}
      BOT_TOKEN: ${BOT_TOKEN}
      CANDIDATE_ROLE: ${CANDIDATE_ROLE}
      MODERATOR_ROLE: ${MODERATOR_ROLE}
    restart: always

volumes:
  sqlite:
    name: fcode-discord-bot-sqlite
    external: true
