on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io/${{ github.repository }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to docker hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build image
        run: docker compose -f compose.build.yaml build

      - name: Push image
        run: docker compose -f compose.build.yaml push

  deploy:
    runs-on: self-hosted
    needs: [build]
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io/${{ github.repository }}
      BOT_PREFIX: ${{ secrets.BOT_PREFIX }}
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
    steps:
      - name: Checkout Develop
        uses: actions/checkout@v3

      - name: Login to docker hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Clean container and image
        run: docker compose -f compose.yaml -p fcode-discord-bot down --rmi all -v

      - name: Deploy
        run: docker compose -f compose.yaml -p fcode-discord-bot up -d
